<!DOCTYPE html>
<html lang="en">
<!--HEAD-->
<head>
    <meta charset="UTF-8">
    <title>Bienvenidxs a MercadoLiebre</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="styles/styles.css">
</head>

<body>
    <header>
        <div class="contenedor-cabecera">
          <div class="logo">
            <img src="image/logo-mercado-liebre.svg" alt="Logo de MercadoLiebre">
          </div>
          <form action="/search" method="GET" class="buscar">
            <input type="text" name="keywords" placeholder="Buscar productos, marcas y más" class="buscar-input">
            <button type="submit" class="buscar-boton"><i class="fas fa-search"></i></button>
          </form>
            <h2 class="destacados">
              <p><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito</p>
            </h2>
        </div>
        <nav class="lista">
          <ul>
              <li><a href="#">Ofertas</a></li>
              <li><a href="#">Tiendas Oficiales</a></li>
              <li><a href="#">Vender</a></li>
              <li><a href="#">Ayuda</a></li>
          </ul>
          <ul>
              <li><a href="/register">Creá tu cuenta <i class="far fa-id-card"></i></a></li>
              <li><a href="/login">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
              <li><a href="#">Mis compras <i class="fas fa-shopping-basket"></i></a></li>
          </ul>
      </nav>
          <div class="burger-menu">
            <i class="fa fa-bars burger"></i>
          </div>
      </header>
      <!-- FORM -->
      <form class="register-form" action="GET">
        <div class="campos-formularios">
            <input type="text" name="nombre" placeholder="Nombre y apellido" minlength="3" class="campos" required>
        </div>
        <div class="campos-formularios">
            <input type="text" name="usuario" placeholder="Nombre de usuario" class="campos" required>
        </div>
        <div class="campos-formularios">
            <input type="email" name="email" placeholder="E-mail" class="campos" required>
        </div>
        <div class="campos-formularios">
            <h3>Fecha de nacimiento</h3>
            <input type="date" name="edad" min='1900-01-01' max="2010-01-01" class="campos">
        </div>
        <div class="campos-formularios">
            <input type="text" name="domicilio" placeholder="Domicilio" class="campos">
        </div>
        <div class="campos-formularios">
            <h3>Perfil del usuario</h3>
            <label class="radio"><input type="radio" name="perfil" ></input>Comprador</label>
            <label class="radio"><input type="radio" name="perfil" ></input>Vendedor</label>
        </div>

        <div class="campos-formularios">
            <h3>Intereses</h3>
            <label class="check"><input type="checkbox" name="categoria" value="electro"></input>Electro</label>
            <br>
            <label class="check"><input type="checkbox" name="categoria" value="moda"></input>Moda</label>
            <br>
            <label class="check"><input type="checkbox" name="categoria" value="hogar"></input>Hogar</label>
            <br>
            <label class="check"><input type="checkbox" name="categoria" value="jugeteria"></input>Jugetería</label>
            <br>
            <label class="check"><input type="checkbox" name="categoria" value="vidaSana"></input>Vida sana</label>
        </div>

        <div class="campos-formularios">
            <h3>Foto de usuario</h3>
            <input type="file" name="fotoUsuario" accept=".jpg, .png" class="campos"></input>
        </div>

        <div class="campos-formularios">
            <h3>Clave</h3>
            <input type="password" name="contrasena" placeholder="Contraseña" class="campos" required>
        </div>
        <div class="campos-formularios">
            <input type="password" name="contrasena" placeholder="Confirmar contraseña" class="campos" required>
        </div>
        <button type="submit" class="boton-form">Enviar</button>
        <button type="reset" class="boton-form">Borrar</button>
    </form>
        <!-- FOOTER -->
        <footer>
            <div class="contenedor-pie-de-pagina">
              <div class="secciones-footer">
                <p class="fas fa-credit-card"></p>
                <h4>Pagá con tarjeta o efectivo</h4> 
                <p class="secciones-texto">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
              </div> 
            
              <div class="secciones-footer">
                <p class="fas fa-gift"></p>
                <h4>Envío gratis desde $ 2.500</h4> 
                <p class="secciones-texto">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
              </div> 
      
              <div class="secciones-footer">  
                <p class="fas fa-user-shield"></p>
                <h4>Seguridad, de principio a fin</h4>
                <p class="secciones-texto">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
              </div>  
            </div>
            <div class="derechos-reservados"> 
              <p class="secciones-texto">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
            </div>
        </footer>
</body>
</html>